body {
    font-size: 16px;
    line-height: 1.375;
    color: rgb(50, 50, 50);
    font-weight: normal;
    font-family: "Roboto";
}


h1 { 

}

h2 {
    font-size: 24px;
    line-height: 1.25;
    color: rgb(50, 50, 50);
    font-weight: normal;
    text-align: left;
}

.slider-title {
  font-size: 60px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1;
  text-align: center;
    
}